<p>
  horaires works!
</p>

<div>
	<table>
		<tr>
			  <th>JOURS </th>
			  <th>MATIN O</th> 
			  <th>MATIN F</th>
			  <th>MIDI O</th> 
			  <th>MIDI F</th>
		</tr>
		<tr *ngFor="let current of horaiResponse">
			<td> {{ current.day }} </td>

			<td *ngIf="current.m_state"> {{ current.hm_opening }}h {{ current.mm_opening }}</td>

			<td *ngIf="current.m_state"> {{ current.hm_closing }}h {{ current.mm_closing }}</td>

			<td *ngIf="current.a_state"> {{ current.ha_opening }}h {{ current.ma_opening }}</td>

			<td *ngIf="current.a_state"> {{ current.ha_closing }}h {{ current.ma_closing }}</td>
		</tr>
	</table>

	<h2> HORAIRES : </h2>
	<table>
		<tr>
			<th>JOURS </th>
			<th>MATIN O/F</th> 
			<th>MIDI O/F</th> 
		</tr>
		<tr *ngFor="let current of horaiResponse" >
			<td> {{ current.day }} </td>

				<td *ngIf="current.m_state">  de {{ current.hm_opening }}h {{ current.mm_opening }} à {{ current.hm_closing }}h {{ current.mm_closing }}</td>
				<td *ngIf="current.a_state"> et de {{ current.ha_opening }}h {{ current.ma_opening }} à {{ current.ha_closing }}h {{ current.ma_closing }}</td>
				
				<td *ngIf="!current.m_state"> Fermé </td>
				<td *ngIf="!current.a_state"> Fermé </td>
			
		</tr>
	</table>

	<style>
		table{
			width:100%;
			border-collapse: collapse;
			margin-bottom: 10em;
		}

		table, td, th {
			border: 1px solid black;
		}
	</style>

</div>